.bars {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100vh;
}

.bars_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.bar {
    width: 20%;
    border: 1px solid black;
    box-shadow: 0 0 6px black;
    /* border: 1px solid red; */
    margin-left: 2px;
    
    /* animation-name: load_bar;
    animation-duration: 0.8s; */
    z-index: -5;
}

@keyframes load_bar {
    from {
            transform: translateY(-100vh);
        }
    
    to {
        transform: translateY(0);
    }
}