.bars {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100vh;
}

.bars_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.bar {
    width: 20%;
    /* border: 1px solid red; */
    margin-left: 2px;
}