.header {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    border: 1px solid;
    top: 0;
    height: 7vh;
    max-height: 25vh;
    z-index: 1;
    width: 100%;
    background: linear-gradient(to right, rgb(69, 73, 153), rgb(19, 24, 69) 40%);
}

.header_link {
    text-decoration: none;
}

.header_title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-left: 5px;
    margin-right: 10px;
}

.header_titleName {
    margin-left: 20px;
    border-radius: 12px;
    padding: 4px 10px 4px 10px;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    margin-right: 20px;
    margin-left: auto;
}


/* Header Sort Title */
.header_nav_back {
    display: flex;
    align-items: center;
    color: white;
    border-radius: 8px;
    padding: 5px;
    margin-left: 20px;
    margin-right: 5px;
}

.sort_reload {
    display: flex;
    align-items: center;
    color: white;
    border-radius: 16px;
    padding: 8px;
    margin-left: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.sort_title {
    color: white;
    margin-left: 10px;
}

.header_sort_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    margin-right: 80px;
    margin-left: auto;
}

.sort_option {
    display: flex;
    color: white;
    margin-left: 5px;
    margin-right: 10px;
}

.sort_name {
    border-radius: 12px;
    padding: 4px 10px 4px 10px;
}

.sort_button {
    font-size: 1.5em;
    background: none;
    border: none;
    border-radius: 12px;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
}

.header_sort_nav label {
    font-size: 1em;
    color: white;
    margin-left: 10px;
}

.speed {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    margin-right: 25px;
    margin-left: 10px;
}

.slider {
    min-width: 25%;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}