.header {
    position: sticky;
    display: flex;
    align-items: center;
    border: 1px solid;
    top: 0;
    height: 50px;
    z-index: 1;
    background: linear-gradient(to right, rgb(69, 73, 153), rgb(19, 24, 69) 40%);
}

.header_link {
    text-decoration: none;
}

.header_title {
    display: flex;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.header_titleName {
    margin-left: 20px;
    width: 100%;
    border-radius: 12px;
    padding: 4px 10px 4px 10px;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 20px;
    margin-left: auto;
}

.slider_size {
    margin-left: auto;
    margin-right: auto;
}

.slider {
    margin-top: 6px;
    margin-right: 50px;
    min-width: 100%;
    width: 250px;
}

.sort_option {
    display: flex;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.sort_name {
    border-radius: 12px;
    padding: 4px 10px 4px 10px;
    /* border: 1px solid white; */
}