.header {
    /* position: sticky; */
    display: flex;
    align-items: center;
    border: 1px solid;
    top: 0;
    height: 7vh;
    max-height: 25vh;
    z-index: 1;
    width: 100%;
    background: linear-gradient(to right, rgb(69, 73, 153), rgb(19, 24, 69) 40%);
}

.header_link {
    text-decoration: none;
}

.header_title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.header_titleName {
    margin-left: 20px;
    /* width: 100%; */
    border-radius: 12px;
    padding: 4px 10px 4px 10px;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    margin-right: 20px;
    margin-left: auto;
}

.slider {
    min-width: 50%;
    margin-left: 50px;
    margin-right: 50px;
}

.sort_option {
    display: flex;
    color: white;
    margin-left: 5px;
    margin-right: 10px;
}

.sort_name {
    border-radius: 12px;
    padding: 4px 10px 4px 10px;
}