.home {
    max-width: 100vw;
    /* margin: 100px auto 40px;    */
    padding: 30px 80px 30px 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    height: 100vh;
}

.home > h2 {
    font-size: 2em;
    color: #fff;
}

.home_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: auto; */
    justify-content: center;
}

/* .row, .col {
    border: 1px solid black;
} */

.home_info {
    display: block;
    place-self: center;
    padding: 50px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.home_info > h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.home_info > p {
    font-size: 20px;
    /* margin-bottom: 50px; */
}

.panel_instruction {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 5px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.6);
    color: black;
    font-size: 18px;
}

.panel_instruction a {
    text-decoration: none;
    color: inherit;
    margin-right: 2px;
}

.home_graphics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: auto; */
    justify-content: center;
}

.panel, .site_graphic {
    grid-row: 1 / 2;
}

.panel {
    padding: 15px;
    margin-bottom: 50px;
    margin-right: 60px;
    z-index: 10;
    background-color: rgba(234, 234, 234, 0.9);
    border-radius: 32px;
    place-self: center;
    width: 220px;
    height: 340px;
    grid-column: 1 / 3;
}

.panel_graphic {
    position: relative;
    display: block;
    height: 100%;
    background-color: white;
    border-radius: 16px;
}

.panel_graphic_info {
    margin-top: 40px;
    height: 60%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    
}

.panel_graphic_info > h2 {
    margin-bottom: 40px;
}

.site_graphic {
    padding: 40px 40px 40px 80px;
    grid-column: 2 / -1;
    display: block;
    background-color: rgba(255, 255, 255,0.4);
    border-radius: 16px;
}

.site_graphic > img {
    object-fit: contain;
    /* place-self: center; */
    /* align-self: center; */
    max-width: 100%;
    max-height: 100%;
}